<div>
<%= form_for @post do |t| %>
    <h4>Title</h4>
            <%= t.text_field :title %>
    <h4>Opinion</h4>
            <%= t.text_area :body %><br>
            <%= t.submit 'Post' %>
        <% end %>
</div>